<script>
  // Imports
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  import { curveBasis, area } from "d3-shape";

  // Size and margins
  const width = 600;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerHeight = height - margin.top - margin.bottom;

  // Params
  export let yDelta = null; // Y axis offset for the lines
  export let data = null;
  export let yRange = null; // Hight of the individual lines

  const lineLength = 550;
  const lineHeight = innerHeight - yDelta; 

  // Scalers
  $: xScaler = scaleLinear().domain([0, data.length]).range([0, lineLength]);
  $: yScaler = scaleLinear().domain(extent(data, (x) => x.total_heating_energy)).range([lineHeight, lineHeight - yRange]);


  $: heatingEnergyArea = area()
    .curve(curveBasis)
    .x(function (d, i) {
      return xScaler(i);
    })
    .y1(function (d) {
      return yScaler(d.total_heating_energy);
    })
    .y0(lineHeight)(data);
</script>

<g>

  <path
    d={heatingEnergyArea}
    fill="black"
    stroke="black"
    stroke-width="1"
  />

</g>
