<script>
  // Params
  export let selectedCity = null;
  export let selectedScaling = null;
</script>

<fieldset class="Fieldset">
  <legend>Location</legend>
  <div>
    <input
      type="radio"
      bind:group={selectedCity}
      name="selectedCity"
      value="Baltimore"
    />
    <label for="Baltimore" class="radioLabel">Baltimore</label>
  </div>

  <div>
    <input
      type="radio"
      bind:group={selectedCity}
      name="selectedCity"
      value="Chicago"
    />
    <label for="Chicago" class="radioLabel">Chicago</label>
  </div>

  <div>
    <input
      type="radio"
      bind:group={selectedCity}
      name="selectedCity"
      value="Los Angeles"
    />
    <label for="Los Angeles" class="radioLabel">Los Angeles</label>
  </div>
</fieldset>

<fieldset class="Fieldset">
  <legend>Scaling</legend>

  <div>
    <input
      type="radio"
      bind:group={selectedScaling}
      name="selectedScaling"
      value="acrossBuildings"
    />
    <label for="acrossBuildings" class="radioLabel"
      >Across all building types</label
    >
  </div>

  <div>
    <input
      type="radio"
      bind:group={selectedScaling}
      name="selectedScaling"
      value="withinBuildings"
    />
    <label for="withinBuildings" class="radioLabel">Within building types</label>
  </div>
</fieldset>

<style>
  Fieldset {
    display: block;
    position: relative;
    width: 150px;
    height: 110px;
    padding-left: 1%;
    padding-top: 1%;
    transform: translate(-41px, 0px);
  }

  .radioLabel {
    transform: translate(0px, 0px);
    font-size: 12px;
    vertical-align: 10%;
    position: relative;
    display: inline-block;
  }

  legend {
    font-size: 12px;
    font-weight: bold;
  }
</style>
