<script>
  // Imports
  import { scaleLinear } from "d3-scale";
  import { extent } from "d3-array";
  import { line, curveCardinalClosed} from "d3-shape";

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const radius = 70;
  const numbersMargin = 7;
  const diameter = radius * 2;
  const numberOfMonths = 12;
  const numberOfDays = 365;
    
  // Params
  export let data = null;
  
  // Scalers
  const heatingScaler = scaleLinear().domain(extent(data, x => x.heating)).range([0, radius * 0.8]);
  const coolingScaler = scaleLinear().domain(extent(data, x => x.cooling)).range([0, radius * 0.8]);

  // Function returning the (x, y) coordinates given a magnitude value
  function coordCalculator(magnitude, thetaDegrees, magnitudeScaler) {
    const thetaRadians = thetaDegrees * Math.PI / 180;
    const xCoord = Math.cos(thetaRadians) * magnitudeScaler(magnitude);
    const yCoord = Math.sin(thetaRadians) * magnitudeScaler(magnitude);
    return [xCoord, yCoord]
  }
  
  // Function retrieving corresponding angle given a month
  function monthToThetaDegrees(month) {
    // Months [1, 2, 3, ...] should map to degrees [60, 30, 0, ...]
    const thetaDegrees = 90 - month * 30
    return thetaDegrees
  }

   // Heating path
   let heatingPath = line()
    .curve(curveCardinalClosed)
    .x((d) =>  (innerWidth / 6) + coordCalculator(d.heating, monthToThetaDegrees(d.month), heatingScaler)[0])
    .y((d) => (innerHeight / 2) - coordCalculator(d.heating, monthToThetaDegrees(d.month), heatingScaler)[1])(data);

  // Cooling path
  let coolingPath = line()
    .curve(curveCardinalClosed)
    .x((d) =>  (innerWidth / 6) + coordCalculator(d.cooling, monthToThetaDegrees(d.month), coolingScaler)[0])
    .y((d) => (innerHeight / 2) - coordCalculator(d.cooling, monthToThetaDegrees(d.month), coolingScaler)[1])(data);

</script>


<!-- Loop over data, plot the energy points and connect them --> 
<g >
  
  {#each data as dp, i}
  
  <!-- Plot heating Path -->
  
  <!-- Hatching -->
  <pattern id="diagonalHatchRed" width="1" height="3" patternTransform="rotate(135 0 0)" patternUnits="userSpaceOnUse" >
  <!-- svelte-ignore component-name-lowercase -->
  <line x1={(innerWidth / 6)} y1=0 x2=0 y2=0 stroke="#e86049" stroke-width=1  stroke-opacity=0.1 />
  </pattern>

  <!-- Heating path -->
  <path d={heatingPath} stroke="#e86049" fill="url(#diagonalHatchRed)"/>
  
  <!-- Heating points -->
  <circle cx={(innerWidth / 6) + coordCalculator(dp.heating, monthToThetaDegrees(dp.month), heatingScaler)[0]} 
          cy={innerHeight / 2 - coordCalculator(dp.heating, monthToThetaDegrees(dp.month), heatingScaler)[1]} r={2} class="circleRed"/> 


  <!-- Plot Cooling Path -->

   <!-- Hatching -->
   <pattern id="diagonalHatchBlue" width="1" height="3" patternTransform="rotate(135 0 0)" patternUnits="userSpaceOnUse">
    <!-- svelte-ignore component-name-lowercase -->
    <line x1={(innerWidth / 6)} y1=0 x2=0 y2=0 stroke="#1a5cb7" stroke-width=1 stroke-opacity=0.1/>
   </pattern>
  
    <!-- Cooling path -->
    <path d={coolingPath} stroke="#1a5cb7" fill="url(#diagonalHatchBlue)"/>
    
    <!-- Cooling points -->
    <circle cx={(innerWidth / 6) + coordCalculator(dp.cooling, monthToThetaDegrees(dp.month), coolingScaler)[0]} 
            cy={innerHeight / 2 - coordCalculator(dp.cooling, monthToThetaDegrees(dp.month), coolingScaler)[1]} r={2} class="circleBlue"/> />   
            
  {/each}

    </g>
    
 
  <style>

  .circleRed {
    fill: #e86049;
    fill-opacity: 1;
    stroke: #e86049;
    stroke-width: 0;
   }
  
   .circleBlue {
     fill: #1a5cb7;
     fill-opacity: 1;
     stroke:#1a5cb7;
     stroke-width: 0;
   }
  
  </style>
  
