<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const radius = 70;
  const numbersMargin = 7;
  const diameter = radius * 2;
  
 // Params
  export let cityName = null;

</script>

    <g>
      
    <!-- City name -->
    <text class="specialFont" font-size="20" fill="black" text-anchor="middle" x={(innerWidth / 6)} y={(innerHeight / 2) - radius - numbersMargin * 4}>{cityName}</text>
    
    <!-- Circle -->
    <circle cx={innerWidth / 6} cy={innerHeight / 2} r={radius}   /> 

    <!-- Vertical line -->
    <line x1={(innerWidth / 6)} x2={(innerWidth / 6)} y1={(innerHeight / 2) - radius} y2={(innerHeight / 2) + radius}  stroke="black" stroke-width="2"/>

    <!-- Horizontal line -->
    <line x1={(innerWidth / 6) - radius} x2={(innerWidth / 6) + radius} y1={(innerHeight / 2)} y2={(innerHeight / 2)}  stroke="black" stroke-width="2"/>

    <!-- Numbers -->
    <text font-size="14" fill="black" text-anchor="middle" x={(innerWidth / 6)} y={(innerHeight / 2) - radius - numbersMargin}>0</text>
    <text font-size="14" fill="black" text-anchor="middle" x={(innerWidth / 6) + radius + numbersMargin} y={(innerHeight / 2)}>3</text>
    <text font-size="14" fill="black" text-anchor="middle" x={(innerWidth / 6)} y={(innerHeight / 2) + radius + 15}>6</text>
    <text font-size="14" fill="black" text-anchor="middle" x={(innerWidth / 6) - radius - numbersMargin} y={(innerHeight / 2)}>9</text>

    </g>
    
<style>

circle {
  fill: white;
  fill-opacity: "0.0";
  stroke: black;
  stroke-width: "2";
}

.specialFont {
  font-family: 'Arizonia', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster Two', cursive;
} 

</style>
