<script>
    // Imports
    import { scaleLinear } from "d3-scale";
    import { extent} from "d3-array";
    import { line, curveBasis, area} from "d3-shape";

    // Size and margins
    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
   
    // Params
    export let yDelta = null; // Y axis offset for the leaves
    export let data = null; 

    const leafLength = 120;
		const yRange = 30;
    const x1 = innerWidth / 2;
    const x2 = x1 + leafLength;
    const leafHeight = innerHeight - yDelta;
    const leafStalkLength = 5;
    const distanceFromHorizontalLine = 0.5;

    // Scalers
    const xElectricityScaler = scaleLinear().domain([0, data.length]).range([0, leafLength]);
    const xGasScaler = scaleLinear().domain([0, data.length]).range([leafLength, 0]); // Will be plotted upside down
    const yElectricityScaler = scaleLinear().domain(extent(data, x => x.total_electrity)).range([leafHeight , leafHeight - yRange]);
    const yGasScaler = scaleLinear().domain(extent(data, x => x.total_gas)).range([leafHeight , leafHeight - yRange]);

    // Electricity path and area
    let electricityPath = line()
    .curve(curveBasis)
    .x(function(d, i) { return xElectricityScaler(i); }) 
    .y(function(d) { return yElectricityScaler(d.total_electrity) ; })
    (data);

    let electricityArea = area()
    .curve(curveBasis)
    .x(function(d, i) { return xElectricityScaler(i) })
    .y1(function(d) { return yElectricityScaler(d.total_electrity) })
    .y0(leafHeight)
    (data);

    // Gas path and area
    let gasPath = line()
    .curve(curveBasis)
    .x(function(d, i) { return xGasScaler(i); })
    .y(function(d) { return yGasScaler(d.total_gas)})
    (data);
    
    let gasArea = area()
    .curve(curveBasis)
    .x(function(d, i) { return xGasScaler(i) }) 
    .y1(function(d) { return yGasScaler(d.total_gas) })
    .y0(leafHeight)
    (data);

  </script>
  
   
<g >
  
  {#each data as dp, i}

    
  <!-- Horizontal line between two areas -->
  <line x1={x1 - leafStalkLength} x2={x2} y1={leafHeight} y2={leafHeight}  fill="black" stroke="black" stroke-width=1/>

  
  <!-- use both path and area such that black horizontal line is visible -->
  <path d={electricityArea} fill="#1035DF" stroke="none" transform="translate({x1} {-distanceFromHorizontalLine})" /> 
  <path d={electricityPath} fill="none" stroke="#061F8E" transform="translate({x1} {-distanceFromHorizontalLine})" stroke-width=1.5 /> 
  
  <path d={gasArea} fill="#FAA914" stroke="none" class="transformPath"  transform="rotate(180 0 0) translate(-{x1}, {-distanceFromHorizontalLine})"/> 
  <path d={gasPath} fill="none" stroke="#D68B00"  class="transformPath"  transform="rotate(180 0 0) translate(-{x1}, {-distanceFromHorizontalLine})"/> 


  {/each}
  
</g>
      
   
<style>

.transformPath{
  transform-box: fill-box;
  transform-origin: bottom;
}

</style>