<script>
    // Imports
    import EnergyClock from "./_design_2_clock.svelte";
    import EnergyShape from "./_design_2_shape.svelte";
    import {json} from "d3-fetch";
    import {onMount} from "svelte";
    import {nest} from "d3-collection";
    import {mean} from "d3-array";

    // Size and margins
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    // Params
    const radius = 70;
    let dataChicago = null;
    let dataBaltimore = null;
    let dataLosAngeles = null;
    let data = null;
    let dataList = null;
    let cityList = ["Chicago", "Baltimore", "Los Angeles"];

    // Load data
    onMount(async () => {
        const datapoints = await json("/data/daily_heating_cooling.json");
        data = datapoints;

	     // Aggregate data to make pattern more visible
       let dataAgg = nest()
        .key(function(d) { return d.city; })
        .key(function(d) { return d.month; })
        .rollup(function(v) { return {
					"heating": mean(v, function(d) { return  d.heating; }),
					"cooling": mean(v, function(d) { return  d.cooling; })
        }
      }).entries(datapoints)

        // Flatten the data
        const dataAggFlat = dataAgg.flatMap((item, i) => {
        const city = item.key;
        return item.values.map(arr => ({
          city: city,
          month: arr.key,
          heating: arr.value.heating,
					cooling: arr.value.cooling
        }));
      });
	
        // Filter and save city data individually
        dataChicago = dataAggFlat.filter(x => x.city === "Chicago");
        dataBaltimore = dataAggFlat.filter(x => x.city === "Baltimore");
        dataLosAngeles = dataAggFlat.filter(x => x.city === "Los Angeles");
        dataList = [dataChicago, dataBaltimore, dataLosAngeles];
    });
  </script>
  

  
  {#if data == null}
  <p>Data is being loaded.</p>
  {:else}

  <svg {width} {height}>


    <!-- Plot the three energy clocks -->
    {#each [0, 200, 400] as xDelta, index}

      <g transform="translate({xDelta}, {margin.top})">
        <EnergyClock cityName={cityList[index]} /> 
        <EnergyShape data={dataList[index]}/> 
      </g>

    {/each}
  

    <!-- Plot title -->
    <text font-size="14" fill="black" text-anchor="middle" x={(innerWidth / 2)} y={(innerHeight / 2) + radius + 50} font-style="italic">
      Design 2: Heating and cooling within a year.</text>
      
      
    <!-- Plot heating arrow -->

      <!-- arrowhead -->
      <marker id="arrowRed" viewBox="0 0 10 10" refX="10" refY="5" fill="none" stroke="#e86049" 
          markerWidth="6" markerHeight="6"
          orient="auto-start-reverse">
        <path d="M 0 0 L 10 5 L 0 10" />
      </marker>

      <!-- arrow annotation -->
      <text class="specialFont" font-size="15" fill="#e86049" text-anchor="middle" x=25 y=20>heating</text>

      <!-- arrow -->
      <path  d="M 70 100 
      Q 50, 90, 30, 55
      L 35 60
      Q 50, 70, 25 25"  
      fill="none" stroke="#e86049"
      marker-end="url(#arrowRed)"/>


    <!-- Plot cooling arrow -->

      <!-- arrowhead -->
      <marker id="arrowBlue" viewBox="0 0 10 10" refX="10" refY="5" fill="none" stroke="#1a5cb7" 
      markerWidth="6" markerHeight="6"
      orient="auto-start-reverse">
    <path d="M 0 0 L 10 5 L 0 10 " />
    </marker>

      <!-- arrow annotation -->
      <text class="specialFont" font-size="15" fill="#1a5cb7" text-anchor="middle" x=212 y=187>cooling</text>

      <!-- arrow -->
      <path  d="M 135 160 
      Q 145, 160, 170, 175
      Q 180, 178, 165, 178
      L 190, 185"
      fill="none" stroke="#1a5cb7" marker-end="url(#arrowBlue)"/>
    
    <!-- Plot month arrow -->

      <!-- arrowhead -->
      <marker id="arrowBlack" viewBox="0 0 10 10" refX="10" refY="5" fill="none" stroke="black" 
      markerWidth="6" markerHeight="6"
      orient="auto-start-reverse">
    <path d="M 0 0 L 10 5 L 0 10" />
    </marker>

      <!-- arrow annotation -->
      <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=185 y=60>month</text>

      <!-- arrow -->
      <path  d="M 135 160 
      Q 145, 160, 170, 175
      Q 180, 178, 165, 178
      L 190, 185"
      fill="none" stroke="#1a5cb7" marker-end="url(#arrowBlue)"/>   

    <!-- Month arrow -->
    <path  d="M 130 40 
    Q 160, 50, 180, 85"
    fill="none" stroke="black" marker-end="url(#arrowBlack)"/>

    </svg>

  {/if}
  
  

  <style>
  .specialFont {
    font-family: 'Arizonia', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
  }



  </style>

  <!--- Google font for annotations -->
  <svelte:head>
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&family=Dancing+Script:wght@700&family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
  </svelte:head>