<script>
  // Imports
  import EnergyLeaf from "./_design_3_leaf.svelte";
  import {json} from "d3-fetch";
  import {onMount} from "svelte";
  import {sort} from "d3-array";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Params
  let data = null;
 
  // Load data
  onMount(async () => {
      const datapoints = await json("/data/hourly_electricity_vs_gas_december.json");
      data = datapoints;
      const weeks = data.map(x => x.week)
      const weeksDistinct = weeks.filter((v, i, a) => a.indexOf(v) === i); 
      const weeksDistinctSortedAsc = sort(weeksDistinct)
  });

  // Function retrieving corresponding week data
  function getWeekData(data, index) {
    const weekData = data.filter(x => x.week === index + 48);
    return weekData
  }

</script>


{#if data == null}
  <p>Data is being loaded.</p>
{:else}
  
<svg {width} {height}>
  
  <!-- Plot title -->
  <text font-size="14" fill="black" text-anchor="middle" x={(innerWidth / 2)} y={(innerHeight + 5)} font-style="italic">
    Design 3: Gas and electricity use as a tree.</text>
  
  <!-- Plot description -->
  <text class="specialFont" font-size="20" fill="black" text-anchor="middle" x={(innerWidth / 2)} y={(innerHeight - 40)}>Chicago</text>
  <text class="specialFont" font-size="20" fill="black" text-anchor="middle" x={(innerWidth / 2) + 50} y={(innerHeight - 20)}>(August 2014)</text>
  
  <!-- arrowhead -->
  <marker id= "arrowHead" viewBox="0 0 10 10" refX="10" refY="5" fill="none" stroke="black" markerWidth="6" markerHeight="6" orient="auto-start-reverse">
  <path d="M 0 0 L 10 5 L 0 10" />
  </marker>
  
  <!-- Plot week 1 arrow -->
  
  <!-- arrow annotation -->
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=345 y=455>week 1</text>
  
  <path d="M 280 450 
           Q 310, 445, 310, 450
           L 300 452
           Q 305, 455, 325 450" 
  fill="none" stroke="black" marker-end="url(#arrowHead)"/>

  <!-- Plot week 2 arrow -->
  
  <!-- arrow annotation -->
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=22 y=410>week 2</text>

  <path d="M 72 375 
           Q 50, 385, 65, 385
           L  40, 395"
  fill="none" stroke="black" marker-end="url(#arrowHead)"/>


  <!-- Plot Monday arrow -->
  
  <!-- arrow annotation -->
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=160 y=35>0 am on Monday</text>

  <path d="M 175 163 
           Q 160, 110, 160, 75
           Q 167, 90, 167, 82
           Q 167, 60, 160, 40"
  fill="none" stroke="black" marker-end="url(#arrowHead)"/>

  <!-- Plot Sunday arrow -->
  
  <!-- arrow annotation -->
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=310 y=70>midnight on Sunday</text>

  <path d="M 295 130 
  Q 300, 100, 305, 100
  Q 305, 100, 306, 105
  L 310, 80"
  fill="none" stroke="black" marker-end="url(#arrowHead)"/>
  
  <!-- Plot legend -->

   <!-- Legend annotations -->
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=390 y=150>1 leaf = data for 1 week</text>
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=400 y=170>blue = electricity usage</text>
  <text class="specialFont" font-size="15" fill="black" text-anchor="middle" x=392 y=190>orange = gas usage</text>
  
  <!-- Curly brace -->
  <path d="M 330 195 
           Q 333, 172, 327, 175
           M 330, 175
           Q 332, 150, 328, 163"
  fill="none" stroke="black"/> 

  <!-- Plot the stem and leafs -->
  {#each [125, 200, 275, 350, 425] as yDelta, index} 

  <g id="stemAndLeaf" transform="translate(-75, -10)">
    
    {#if index == 0 || index == 2 || index == 4}

    <g class="rotatingG" >
      <EnergyLeaf data={getWeekData(data, index)} yDelta={yDelta}/> 
    </g>
    
    {:else}

    <g class="mirrorG" >
      <EnergyLeaf data={getWeekData(data, index)}  yDelta={yDelta}/> 
    </g>

    {/if}
    
    <g transform="translate({margin.left}, {margin.top})">
      <line x1={innerWidth / 2} x2={innerWidth / 2} y1={110} y2={innerHeight - 70}  stroke="black" stroke-width=1 opacity=0.5/>
    </g>

  </g>

  {/each}

</svg>

{/if}


<style>

.rotatingG{
  transform-box: fill-box;
  transform-origin: bottom;
  transform: translate(20px) rotate(-15deg);
}

.mirrorG{
  transform-box: fill-box;
  transform: scale(-1, 1) translate(107px) rotate(-15deg); 
  transform-origin: center;
}

.specialFont {
  font-family: 'Arizonia', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster Two', cursive;
}

</style>


