<script>
  // Imports
  import EnergyLine from "./_design_1_line.svelte";
  import LocScaleButtons from "./_design_1_buttons.svelte";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { nest } from "d3-collection";
  import { mean, sort } from "d3-array";

  // Size and margins
  const width = 710;
  const height = 650;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const yRangeWithin = 20;
  const yRangeAcross = 200;

  // Params
  let data = null;
  let selectedCity = "Baltimore"; // Default selection
  let selectedScaling = "withinBuildings"; // Default selection

  // Load data
  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
  });

  // Function returning data for specific building type if needed
  function getBuildingTypeData(plottingData, buildingType) {
    if (selectedScaling == "withinBuildings") {
      const buildingTypeData = plottingData.filter(
        (x) => x.buildingtype === buildingType
      );
      return buildingTypeData;
    } else if (selectedScaling == "acrossBuildings") {
      return plottingData;
    }
  }

  // Function returning an object where the building types are the keys and the corresponding yDelta are the values
  function zipBuildingTypeYDelta(data) {
    // Retrieve a sorted list of distinct building types
      const buildingtypes = data.map((x) => x.buildingtype);
      const buildingTypesDistinct = buildingtypes.filter(
        (v, i, a) => a.indexOf(v) === i
      );
      const buildingTypesDistinctSortedAsc = sort(buildingTypesDistinct);
      const yDeltaList = [
        20, 52, 84, 116, 148, 180, 212, 244, 276, 308, 340, 372, 404, 436, 468,
        500
      ];

      let buildingTypeYDelta = {};

      buildingTypesDistinctSortedAsc.forEach((element, index) => {
        buildingTypeYDelta[element] = yDeltaList[index];
      });
      return buildingTypeYDelta;
    }
  

  // Function returning the data to be plotted
  function getPlottingData(data, selectedCity, selectedScaling) {

      if (selectedScaling == "withinBuildings") {
        // City filter
        data = data.filter((x) => x.city === selectedCity);
        return data;
      } else if (selectedScaling == "acrossBuildings") {
        // Aggregate accross buildings
        let dataAgg = nest()
          .key(function (d) {
            return d.city;
          })
          .key(function (d) {
            return d.day;
          })
          .key(function (d) {
            return d.hour;
          })
          .rollup(function (v) {
            return {
              total_heating_energy: mean(v, function (d) {
                return d.total_heating_energy;
              })
            };
          })
          .entries(data);

        // Flatten the data
        let dataAggFlat1 = dataAgg.flatMap((item, i) => {
          const city = item.key;

          return item.values.map((arr) => ({
            city: city,
            day: arr.key,
            hourAndEnergy: arr.values
          }));
        });

        let dataAggFlat2 = [];
        dataAggFlat1.forEach(function (item) {
          item.hourAndEnergy.forEach(function (itemHour) {
            dataAggFlat2.push({
              city: item.city,
              day: item.day,
              hour: itemHour.key,
              total_heating_energy: itemHour.value.total_heating_energy
            });
          });
        });

        // City filter
        let dataAggFlat3 = dataAggFlat2.filter((x) => x.city === selectedCity);

        return dataAggFlat3;
      }
    }
  

</script>

<!-- Buttons -->
<div>
  <LocScaleButtons bind:selectedCity bind:selectedScaling />
</div>

<!-- Heating Lines -->
<div>
  <svg {width} {height}>
    {#if data == null}
      <p>Data is being loaded.</p>
    {:else if data != null && selectedScaling == "withinBuildings"}
      <!-- Plot title -->
      <text
        font-size="14"
        fill="black"
        text-anchor="middle"
        x={innerWidth / 2}
        y={innerHeight + 10}
        font-style="italic"
      >
        Design 1: Energy use over multiple days.</text
      >

      <!-- Plot December 1 arrow -->

      <!-- arrowhead -->
      <marker
        id="arrow"
        viewBox="0 0 10 10"
        refX="10"
        refY="5"
        fill="grey"
        stroke="grey"
        markerWidth="6"
        markerHeight="6"
        orient="auto-start-reverse"
      >
        <path d="M 0 0 L 10 5 L 0 10" />
      </marker>

      <!-- arrow annotation -->
      <text
        class="specialFont"
        font-size="14"
        fill="grey"
        text-anchor="middle"
        x="45"
        y="20">December 1</text
      >


      <!-- arrow -->
      <path
        d="M 0 75 
      Q 28, 42, 30, 40
      L 30 45
      L 45 25"
        fill="none"
        stroke="grey"
        marker-end="url(#arrow)"
      />

      <!-- Plot December 1 arrow -->

     

      <!-- arrow annotation -->
      <text
        class="specialFont"
        font-size="14"
        fill="grey"
        text-anchor="middle"
        x="100"
        y="50">Days of the year</text
      >

      <!-- arrow -->
      <path
        d="M 50 60
      L 150 60"
        fill="none"
        stroke="grey"
        marker-end="url(#arrow)"
      />

      <!-- Plot December 31 arrow -->

  
      <!-- arrow annotation -->
      <text
        class="specialFont"
        font-size="14"
        fill="grey"
        text-anchor="middle"
        x="575"
        y="20">December 31</text
      >

   

      <!-- arrow -->
      <path
        d="M 550 75 
      Q 562, 42, 565, 40
      L 565 45
      L 575 25"
        fill="none"
        stroke="grey"
        marker-end="url(#arrow)"
      />

      <!-- Plot line thickness arrow -->

    

      <!-- arrow annotation -->
      <text
        class="specialFont"
        font-size="14"
        fill="grey"
        text-anchor="middle"
        x="200"
        y="613">Line thickness is a function of total heating energy</text
      >

      <!-- arrow -->
      <path
        d="M 75 565 
      L 85, 590
      Q 90, 585, 86, 587
      Q 90, 585, 95, 600
      "
        fill="none"
        stroke="grey"
        marker-end="url(#arrow)"
      />

      {#each Object.entries(zipBuildingTypeYDelta(data)) as [buildingType, yDelta]}
        <EnergyLine
          data={getBuildingTypeData(getPlottingData(data, selectedCity, selectedScaling), buildingType)}
          {yDelta}
          yRange={yRangeWithin}
        />

        <!-- Plot building names-->

        <text
          class="specialFont"
          font-size="14"
          fill="grey"
          text-anchor="left"
          x="560"
          y={innerHeight - 50 - yDelta}>{buildingType}</text
        >
      {/each}

      <!-- Aggregated data -->
      {:else if data != null && selectedScaling == "acrossBuildings"}
      <!-- Plot title -->
      <text
        font-size="14"
        fill="black"
        text-anchor="middle"
        x={innerWidth / 2}
        y={innerHeight + 10}
        font-style="italic"
      >
        Design 1: Energy use over multiple days.</text
      >

      <EnergyLine
        data={getBuildingTypeData(getPlottingData(data, selectedCity, selectedScaling), null)}
        yDelta={250}
        yRange={yRangeAcross}
      />

  
      <text
        class="specialFont"
        font-size="16"
        fill="grey"
        text-anchor="left"
        x="560"
        y={innerHeight - 50 - 250}>{"Across all buildings."}</text
      >
    {/if}
  </svg>
</div>

<style>
  svg {
    display: block;
    margin: auto;
    position: relative;
  }

  .specialFont {
    font-family: "Arizonia", cursive;
    font-family: "Dancing Script", cursive;
    font-family: "Lobster Two", cursive;
  }

  p {
    transform: translate(200px, -300px);
  }
</style>
