<script>
  let clicked = false;
</script>

<style>
  p {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  button {
    width: 70%;
  }
</style>

<div class="text-center">
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  {#if clicked == true}
    <p>You have clicked the button!</p>
  {:else}
    <p>You have to click the button!</p>
  {/if}
</div>
