<script>
  const name = "Mohamed";
  const favo_things = [
    "travelling,",
    " watching a good movie,",
    " reading a good book",
    " and sleeping."
  ];
  const personality = {name, favo_things}
</script>

<p>
  My name is {personality.name} and these are some of my favourite things: 
  {personality.favo_things[0]}
  {personality.favo_things[1]}
  {personality.favo_things[2]}
  {personality.favo_things[3]}
</p>
