<script>
  function get_circumference(radius) {
    let circumference = 2 * Math.PI * radius;
    return circumference;
  }

  let radius = 4;
  let circumference = get_circumference(radius);
</script>

<p>The circumference of a circle with radius {radius}m is {circumference.toFixed(2)}m.</p>
