<script>
  // Properties
  // export let data = [];
  export let selectedYear = 0;
  export let selectedContinent = null;

  // Start button logic variables
  let interval = null;

  let startOrStopLabel = "Start";
  const timeDelay = 45;

  // Helper functions
  function yearCounter() {
    if (selectedYear < 214) {
      selectedYear += 1;
    } else {
      selectedYear = 0;
    }
  }

  function changeLabel() {
    if (startOrStopLabel == "Start") {
      startOrStopLabel = "Stop";
    } else {
      startOrStopLabel = "Start";
    }
  }

  // Start button logic
  function handleStartClick(event) {
    // Change label from Start to Stop and vice versa
    changeLabel();

    // Periodically call the yearCounter function
    const interval = setInterval(() => {
      if (startOrStopLabel == "Stop") {
        yearCounter();
      } else {
        clearInterval(interval);
      }
    }, timeDelay);
  }

  // Reset button logic
  function handleResetClick(event) {
    selectedYear = 0;
    startOrStopLabel = "Start";
  }
</script>

<div class="row">
  <div class="col-4">
    <button on:click={handleStartClick} class="btn btn-primary">
      {startOrStopLabel}
    </button>
    <button on:click={handleResetClick} class="btn btn-primary"> Reset </button>
  </div>

  <div class="col-5">
    <label for="yearSlider" class="form-label col-sm-10"
      >Year: {1800 + selectedYear}</label
    >
    <input
      type="range"
      class="form-range"
      min={0}
      max={214}
      step={1}
      id="yearSlider"
      bind:value={selectedYear}
    />
  </div>

  <div class="col-3">
    <select
      id="continentSelector"
      class="form-select"
      bind:value={selectedContinent}
    >
      <option value="all">all</option>
      <option value="europe">europe</option>
      <option value="asia">asia</option>
      <option value="americas">americas</option>
      <option value="africa">africa</option>
    </select>
  </div>
</div>
