<script>

    // Initialize counter
    let count = 0;

    // Counter logic
	function handleCountClick(event) {
		count += 1;
	}

    // Reset logic
	function handleResetClick(event) {
		count = 0;
	}


  </script>



<!-- Counter Button -->
<button on:click={handleCountClick} class="btn btn-primary">
    Clicked {count} times
</button>

<!-- Reset Button -->
<button on:click={handleResetClick} class="btn btn-danger">
    Reset
</button>



