<script>
  // Imports
  import { onMount } from "svelte";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const timeDelay = 1000;
  const radius = 10;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let color = "darkred";

  // Index reducer
  const reducer = (_) => (index -= 1);

  onMount(() => {
    const interval = setInterval(() => {
      if (index != -1) {
        reducer();
      } else {
        color = "darkgreen";
    }
    }, timeDelay);
    return () => clearInterval(interval);
  });

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">

    {#each points as point, i}

      {#if i >= index && index != -1}
      <circle cx={point} cy={innerHeight / 2} r={radius} fill={color} opacity={1}/>
      {:else if i < index && index != -1}
      <circle cx={point} cy={innerHeight / 2} r={radius} fill={color} opacity={0.3}/>
      {:else if index == -1}
      <circle cx={point} cy={innerHeight / 2} r={radius} fill={color} opacity={1}/>
      {/if}

    {/each}
  </g>
</svg>
