<script>
  // Imports
  import { json } from "d3-fetch";
  import { select } from "d3-selection";
  import { onMount } from "svelte";

  // Custom
  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Selected year and continent
  let selectedYear = 0;
  let selectedContinent = "all";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  // Function to filter the data with the selected year and continent
  function filterData(data, selectedYear, selectedContinent) {
    if (data != null) {
      // Year filter
      data = data.filter((x) => x.year === String(selectedYear + 1800));
      // Remove year dimension
      data = data[0]["countries"];
      // Only non-null observations for income
      data = data.filter((x) => x.income != null);
      // Only non-null observations for population
      data = data.filter((x) => x.population != null);
      // Only non-null observations for life_exp
      data = data.filter((x) => x.life_exp != null);

      // Continent filter
      if (selectedContinent != "all") {
        data = data.filter((x) => x.continent == selectedContinent);
      }

      return data;
    } else {
      return data;
    }
  }

  // Reactivily calculated filtered data
  $: dataFiltered = filterData(data, selectedYear, selectedContinent);
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot bind:data={dataFiltered} />
    <Controls bind:data={dataFiltered} bind:selectedYear bind:selectedContinent />
  </div>
{/if}
