<script>

  // Imports
  import { scaleLinear, scaleLog, scaleOrdinal, scaleSqrt } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { select } from "d3-selection";
  import { min, max, extent, count } from "d3-array";
  import { schemeSet3, schemeTableau10 } from "d3-scale-chromatic";

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  
  // Data
  export let data = null;
  let continentDomain = data.map(x => x.continent);
  continentDomain.sort(function(a, b){return a - b});
  /* let minIncome = min(data, x => x.income);
  let maxIncome = max(data, x => x.income);
  let incomeDomain = data.map(x => x.income);
  incomeDomain.sort(function(a, b){return a - b});
  let populationDomain = data.map(x => x.population);
  populationDomain.sort(function(a, b){return a - b}); */

  // Scaling
  const xScaler = scaleLog().domain([300, 150000]).range([0, innerWidth]);
  const yScaler = scaleLinear().domain([0, 90]).range([innerHeight, 0]);
  const rScaler = scaleLog().domain([1, 1e12]).range([1, 9]);
  const catScaler = scaleOrdinal().domain(continentDomain).range(schemeTableau10);

  // Axis
  function xAxis(handle) {
    const xAxis = axisBottom(xScaler).tickValues([400, 4000, 40000]).tickFormat(x => `$${x}`);
    xAxis(select(handle));
   }
  function yAxis(handle) {
    const yAxis = axisLeft(yScaler);
    yAxis(select(handle));
  }
</script>



<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">

  <g transform="translate({margin.left}, {margin.top})">

  <text x={innerWidth/2} y="0" fill="currentcolor" text-anchor="middle" font-size="36px">Gapminder Scatterplot</text>
  <text x={innerWidth / 2}  y={innerHeight + 37}  text-anchor="middle" fill="currentcolor" font-size="17.5px" font-family ="sans-serif">GDP per Capita</text>
  <text x={innerWidth - 79} y={innerHeight - 10} fill="currentcolor" font-size="36px" opacity="0.4">1800</text>

    {#each data as dp}
    <circle cx={xScaler(+dp.income)} cy={yScaler(+dp.life_exp)} r={rScaler(+dp.population)} fill={catScaler(dp.continent)}/> 
    {/each}


  </g>
  <g use:xAxis transform="translate({margin.left}, {innerHeight + margin.top})" />
 


  <g use:yAxis transform="translate({margin.left}, {margin.top})" />
  <text x={-(innerWidth / 2) + 75} y="18" fill="currentcolor" text-anchor="middle" transform="rotate(-90)" font-size="17.5px" font-family ="sans-serif">Life Expectancy</text>

</svg>