<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rectWidth = 40;
  const rectHeight = 40;
  const circleRadius = 20;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x= {(innerWidth / 2) - (rectWidth / 2)} y={(innerHeight / 2) - (rectHeight / 2)} width={rectWidth} height={rectHeight}/>
    <circle cx={(innerWidth / 2) + circleRadius} cy={(innerHeight / 2) + circleRadius} r={circleRadius}/>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  rect {
  fill: yellow;
  }
circle {
  fill: skyblue;
  }
</style>
