<script>
  // Imports
  import { scaleLog } from "d3-scale";
  import { axisBottom } from "d3-axis";
  import { select } from "d3-selection";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const radius = 10;
  const axisBuffer = 65;

  // Array
  const values = [2, 4, 6, 7, 9];

  
  // Scaling
  const circleScaler = scaleLog().domain([1, 10]).range([0, innerWidth]);
  const xAxisScaler = scaleLog().domain([1, 10]).range([0.5, innerWidth + 0.5]);

  // Axis
  function xAxis(handle) {
    const xAxis = axisBottom(xAxisScaler);
    xAxis(select(handle));
  }

</script>

<svg viewBox="0 0 {width} {height}">
 
  <g transform="translate({margin.left}, {margin.top})">
    
    <!--  Circles -->
    {#each values as val}
    <circle cx={circleScaler(val)} cy={innerHeight / 2} r={radius} />
    {/each}

 <!--  Axis -->
    <g  use:xAxis transform="translate(0, {margin.top + axisBuffer})" > </g>
    <text x={innerWidth / 2} y={margin.top + axisBuffer + 25} text-anchor="middle" fill="currentcolor">x label</text>

    

  </g>

  
</svg>



<style>
circle {
  fill: steelblue;
  }

text {
  font-size: 10px;
  font-family: sans-serif;
}
</style>
