<script>
  // Imports
  import { scaleLinear, scaleOrdinal } from "d3-scale";
  import { schemeDark2 } from "d3-scale-chromatic";
  import { extent } from "d3-array";

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const radius = 5;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  // Scaling
  const xScaler = scaleLinear().domain([0, 10]).range([0, innerWidth]);
  const yScaler = scaleLinear().domain([0, 3]).range([0, innerHeight]);
  const catScaler = scaleOrdinal().domain(extent(["cat1", "cat2", "cat3"])).range(schemeDark2);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as val}

      <line
        x1={xScaler(val.x)}
        x2={xScaler(val.x)}
        y1={innerHeight - yScaler(val.y)}
        y2={innerHeight}
        stroke="black"
      />

      <circle
        cx={xScaler(val.x)}
        cy={innerHeight - yScaler(val.y)}
        r={radius}
        fill={catScaler(val.category)}
      />

      <text
        x={xScaler(val.x)}
        y={innerHeight - yScaler(val.y) - 10}
        class="valueLabel">{val.y}</text
      >
    {/each}

    <line
      x1="0"
      x2={innerWidth}
      y1={innerHeight}
      y2={innerHeight}
      stroke="black"
    />
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
