<script>
  // Imports
  import { scaleBand, scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { select } from "d3-selection";
  import { extent } from "d3-array";

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  // Scaling
  const xScaler = scaleBand()
    .domain([
      "Netflix",
      "Amazon Prime Video",
      "Disney+",
      "Hulu",
      "Apple TV",
      "Rakuten"
    ])
    .range([0, innerWidth])
    .padding(0.2);
  const yScaler = scaleLinear().domain([0, 3]).range([innerHeight, 0]);

  // Axis
  function xAxis(handle) {
    const xAxis = axisBottom(xScaler);
    xAxis(select(handle));
  }

  function yAxis(handle) {
    const yAxis = axisLeft(yScaler);
    yAxis(select(handle));
  }
</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as dp}
      <rect
        x={xScaler(dp.service)}
        y={yScaler(dp.viewers)}
        width={xScaler.bandwidth()}
        height={innerHeight - yScaler(dp.viewers)}
        fill="steelblue"
      />
    {/each}

    <g use:xAxis transform="translate(0, {innerHeight})" />
    <g use:yAxis transform="translate(0, 0)" />

    <text
      x={-(innerHeight / 2)}
      y={-margin.bottom}
      fill="currentcolor"
      text-anchor="middle"
      transform="rotate(-90)"
      font-size="10px">Viewers (Million)</text
    >
  </g>
</svg>
