<script>
  // Imports
  import Scatterplot from "./_ex_7_scatterplot.svelte";
  import {json} from "d3-fetch";
  import {onMount} from "svelte";

  
 

// Load data
let data = null;

onMount(async () => {
    const datapoints = await json("/data/gapminder.json");
    // Year 1800
    const dataFiltered = datapoints.filter(x => x.year === "1800")
    // Remove year dimension
    const dataFiltered2 = dataFiltered[0]["countries"]
    // Only non-null observations for income
    const dataFiltered3 = dataFiltered2.filter(x => x.income != null) 
    // Only non-null observations for population
    const dataFiltered4 = dataFiltered3.filter(x => x.population != null) 
    // Only non-null observations for life_exp
    const dataFiltered5 = dataFiltered4.filter(x => x.life_exp != null) 
    data = dataFiltered5
    console.log(data)
});



</script>


{#if data == null}
<p>Data is being loaded.</p>
{:else}
<Scatterplot data={data}/>
{/if}


